body {
  width: 100%;
  height: 100%;
  margin: 0;

}
h1{
  text-align: center;;
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#details p{
  display:block;
  padding: 25px;
  }

#details div {
  float: left;

background-color: red;
}
nav a{
  background-color: grey;
  padding-left: 10px;
  padding-right: 10px;
  }
nav{
    margin:auto;
  }

figcaption{
  color: red;
  text-align: center;
  font-size: 75%
}
